body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #0b3d91;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-left: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    margin-right: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

nav ul li a:hover {
    background-color: #0056b3;
    border-radius: 5px;
}

main {
    padding: 20px;
    text-align: center;
}

.hero {
    background-color: #0b3d91;
    color: white;
    padding: 50px 20px;
    margin-bottom: 20px;
}

.content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.news-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.news-item img {
    border-radius: 8px;
}

footer {
    background-color: #0b3d91;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
