.container { 
    min-height: 100vh;
    background-color: #e98145ee;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;

}

.box {
    width: 150px;
    height: 150px;
    border: 4px solid #fcfdfe;
    gap: 2;
}

.outer-box{
    width: 300px;
    height: 150px;
    padding: 20px
    border: 5px solid red;
    background-color: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2;
}

.inner-box { 
    width: 150px; 
    height: 150px; 
    padding: 10px; 
    border: 3px solid #555; background-color: #ddd; display: flex; justify-content: center; align-items: center; }

    .box-3 {
    width: 150px;
    height: 150px;
    border: 4px solid orange;
    gap: 2;
}


.box-4 {
    width: 150px;
    height: 150px;
    border: 4px solid #3932f8;
    gap: 2;
}


.box-5 {
    width: 150px;
    height: 150px;
    border: 4px solid orange;
    gap: 2;
}