body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.MILKY-way-galaxy {
    width: 500px;
    height: 500px;
    padding: 50px;
    margin: 50px;
    border: 20px solid #333;
    background-color: #fff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.solar-system {
    width: 300px;
    height: 300px;
    padding: 10px;
    border: 3px solid #555;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;


}

.earth-planet {
    width: 150px;
    height: 150px;
    padding: 10px;
    border: 3px solid #21d00a;
    background-color: #941b1b;
    display: flex;
    justify-content: center;
    align-items: left;
    
}
