body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #d75c0e;
    color: white;
    padding: 1em;
    text-align: left ;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #333;
    overflow: hidden;
}

nav ul li {
    display: inline;
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    border:  20px solid #d75c0e
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #111;
    border:  20px solid #d75c0e
}

main {
    padding: 1em;
}

section {
    margin-bottom: 1em;
    padding: 1em;
    background-color: white;
    border:  20px solid #d75c0e
    border-radius: 8px;
}

footer {
    background-color: #d75c0e;
    color: white;
    text-align: center;
    padding: 1em 0;
    border:  20px solid aqua
    position: fixed;
    width: 100%;
    bottom: 0;
}
